@import "tailwindcss";

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Kanit";
  src: url("/Шрифт - Kanit/Kanit-Black.ttf") format("truetype");
  font-weight: 900;
}

:root {
  --background: #F5F5F5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F5F5F5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kanit", Arial, Helvetica, sans-serif;
}
